<div class="container-fluid text-center p-3 bg-warning" style="height:100%;">

  <div class="container bg-light">

    <form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()" class="form-signin">

      <img class="mb-4 rounded-circle border bg-dark" src="../../assets/img/cigarette.png" alt="icone du site" width="72" height="72">

      <h1 class="h3 mb-3 font-weight-normal">Créer un compte</h1>
      <label for="inputEmail" >Adresse mail</label>
      <input type="text" id="inputEmail" class="form-control" formControlName="email" >

      <label for="inputPassword" >Mot de passe</label>
      <input type="password" id="inputPassword" class="form-control" formControlName="mdp" >
      <label for="inputPassword2" >Verification mot de passe</label>
      <input type="password" id="inputPassword2" class="form-control" formControlName="mdp2" >
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="inscriptionForm.invalid">Créer mon compte</button>

    </form>
    <p class="text-danger">
      {{ errorMessage }}
    </p>

  </div>

</div>
