$text : white;

h2 {
  color: $text;
  text-shadow: 1px 1px 2px grey;
}

p {
  color: $text;
  text-shadow: 1px 1px 2px grey;
}

#side {
  min-height: 50vh;
  width:100%;
}

@media screen and (min-width:768px) {
  #side {
    min-height: 100vh;
  }
}

#intro {
  color: $text;
  text-shadow: 1px 1px 2px grey;
  font-family: "Source Sans Pro", Helvetica, sans-serif
}
